<div class="about_main">
	<div class="container">
		<div class="about_me">
			<%= image_tag "profilepic.jpg", class: "pix" %>
			<div class="description">
				<h1>Hello. My name is <span> Daniel Ha </span></h1>
				<p>I'm a rookie programmer! I was born in Seoul, South Korea, but spent my formative years in the suburbs of Southern California. I moved to Evanston, IL to attend Northwestern University at the age of 18, where I earned a B.S. in Economics and Communication Studies.</p>
				<br>
				<p>Currently, I work as a Strategy Analyst at Sears Holdings after a short stint in investment banking at Societe Generale. I live in Chicago with my lovely wife.</p>
			</div>
		</div>
	</div>
</div>