

<div class="main">
	<div class="container">
		<h1>Hello. My name is <span> Daniel Ha</span> and I have creative ideas and build websites</h1>
		<div class="view-button pull-right">
			<%= link_to "View My Work", portfolio_path, class: "main_button" %>
		</div>
		</a>
	</div>
</div>



